<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button class="genericButton navButton" type="button" name="navigation" (click)="navMenu.toggle()">
    <mat-icon class="menuIcon">menu</mat-icon> Menu
  </button>

  <div class="spacer"></div>

  <!-- Parametre -->
  <button class="genericButton paramButton" type="button" name="parametre" [matMenuTriggerFor]="menu">
    Pathf <img width="30" alt="Compte_Logo" src="../assets/logo.png" />
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Compte</span>
    </button>
    <button mat-menu-item>
      <mat-icon>add_box</mat-icon>
      <span>Ajout</span>
    </button>
  </mat-menu>
</div>

<mat-drawer-container class="navigation-container">
  <!-- colonne navigation -->
  <mat-drawer #navMenu mode="side" class="navigation-sidenav">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let page of pages" [value]="page">
        <div (click)="navMenu.close(); redirectionTo(page)">{{page}}</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <!-- Content -->
  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
